{% extends skeleton['template'] %}
{% block title %}Ambikor | Become a Career Guide{% endblock %}
{% block content %}
<div class="row no-gutters" style="background-color: #cecece;">
    <div class="col d-table" style="padding: 50px; padding-bottom: 20px;">
        <p class="d-table-cell" style="width: 100%; font-size: 32px; text-align: center; letter-spacing: 3px; line-height: 1.5;">Become a career guide on Ambikor</p>
    </div>
</div>
<div class="row no-gutters" style="background-color: #cecece;">
    <div class="col-1"></div>
    <div class="col d-table" style="padding: 70px; padding-top: 0; padding-bottom: 30px;">
        <p class="d-table-cell" style="width: 100%; font-size: 16px; text-align: center; letter-spacing: 1px; line-height: 2;">Being a career guide means that you have an expertise and that you're willing to share your insights with early career explorers and everyone else who could benefit from your wisdom.</p>
    </div>
    <div class="col-1"></div>
</div>
<div class="row no-gutters" style="padding: 40px; text-align: center; letter-spacing: 1px; border-top: solid 1px #3c3a3a;">
    <div class="col-12" style="border-radius: 3px;">
        <div class="row no-gutters" style="font-size: 26px; letter-spacing: 2px; padding: 10px;">
            <div class="col-12">
                <p>Why become a career guide on Ambikor?</p>
            </div>
        </div>
        <div class="row no-gutters" style="text-align: center;">
            <div class="col-2"></div>
            <div class="col-8" style="padding: 10px; border: dotted 1px #3c3a3a;">
                <div class="row no-gutters" style="padding: 15px; border-bottom: dotted 1px #3c3a3a;">
                    <div class="col-3">
                        <img src="../../static/images/cat_commerce.png" style="height: 60px;">
                    </div>
                    <div class="col-9" style="padding-left: 20px; text-align: left;">
                        <p style="font-size: 14px; letter-spacing: 1px; margin-top: 16px;">Add an easy revenue stream to your financial portfolio</p>
                    </div>
                </div>
                <div class="row no-gutters" style="padding: 15px; border-bottom: dotted 1px #3c3a3a;">
                    <div class="col-3">
                        <img src="../../static/images/cat_community.png" style="height: 60px;">
                    </div>
                    <div class="col-9" style="padding-left: 20px; text-align: left;">
                        <p style="font-size: 14px; letter-spacing: 1px; margin-top: 16px;">Build your following and propel your name as an industry expert</p>
                    </div>
                </div>
                <div class="row no-gutters" style="padding: 15px; border-bottom: dotted 1px #3c3a3a;">
                    <div class="col-3">
                        <img src="../../static/images/cat_social_good.png" style="height: 60px;">
                    </div>
                    <div class="col-9" style="padding-left: 20px; text-align: left;">
                        <p style="font-size: 14px; letter-spacing: 1px; margin-top: 16px;">Help others navigate your industry and pave their career path</p>
                    </div>
                </div>
                <div class="row no-gutters" style="padding: 15px;">
                    <div class="col-3">
                        <img src="../../static/images/logo.png" style="height: 60px;">
                    </div>
                    <div class="col-9" style="padding-left: 20px; text-align: left;">
                        <p style="font-size: 14px; letter-spacing: 1px; margin-top: 16px;">Ambikor is still young, so embrace this opportunity to gain popularity on the platform</p>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<div class="row no-gutters" style="padding: 40px; text-align: center; letter-spacing: 1px; border-top: solid 1px #3c3a3a;">
    <div class="col-12" style="border-radius: 3px;">
        <div class="row no-gutters" style="font-size: 26px; letter-spacing: 2px; padding: 10px;">
            <div class="col-12">
                <p>How becoming a career guide works</p>
            </div>
        </div>
        <div class="row no-gutters" style="padding-bottom: 50px; font-size: 14px; text-align: center; letter-spacing: 2px;">
            <div class="col col-md-4">
                <div class="row no-gutters">
                    <div class="col" style="height: 70px;">
                        <div class="row no-gutters" style='padding-top: 10px;'>
                            <div class="col"><img src='../../../static/images/collections_icon.png' style="height: 40px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters" style="margin-top: 10px; padding-bottom: 10px;">
                    <div class="col d-table" style="padding: 30px; padding-top: 0px; padding-bottom: 0px;">
                        <p class="d-table-cell">Determine the services you want to offer and how much you'd like to charge</p>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="row no-gutters">
                    <div class="col" style="height: 70px;">
                        <div class="row no-gutters" style='padding-top: 10px;'>
                            <div class="col"><img src='../../../static/images/grey_check_icon.png' style="height: 40px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters" style="margin-top: 10px; padding-bottom: 10px;">
                    <div class="col d-table" style="padding: 30px; padding-top: 0px; padding-bottom: 0px;">
                        <p class="d-table-cell">Accept and complete your service requests</p>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="row no-gutters">
                    <div class="col" style="height: 70px;">
                        <div class="row no-gutters" style='padding-top: 10px;'>
                            <div class="col"><img src='../../../static/images/prize_money_icon.png' style="height: 40px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters" style="margin-top: 10px; padding-bottom: 10px;">
                    <div class="col d-table" style="padding: 30px; padding-top: 0px; padding-bottom: 0px;">
                        <p class="d-table-cell">Earn money<br><a href="{{ url_for('home.money_info')}}" class="d-table-cell" style="font-size: 12px; color: #00A08E;">Learn more about how to earn money on Ambikor</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters" style="padding: 40px; text-align: center; letter-spacing: 1px; border-top: solid 1px #3c3a3a;">
    <div class="col-12" style="border-radius: 3px;">
        <div class="row no-gutters" style="font-size: 26px; letter-spacing: 2px; padding: 10px;">
            <div class="col-12">
                <p>Example Services</p>
            </div>
        </div>
        <div class="row no-gutters" style="padding-bottom: 50px;">
            {% for service in ['Advice', 'Apprenticeship', 'Critique', 'FAQ Answers', 'Interview', 'Internship', 'Lesson', 'Mentorship', 'Portfolio Review', 'Reaction Video', 'Redesign', 'Shadow Shift', 'Application Prep', 'Citation Source', 'Tutoring', 'Guest Lecture', 'Phone Chat', 'Video Chat'] %}
                <div class="col-4 col-md-2" style="padding: 5px;">
                    <div class="d-table" style="border: 1px solid #00A08E; border-radius: 10px; height: 50px; width: 100%;">
                        <p class="d-table-cell" style="vertical-align: middle; font-size: 12px; text-align: center; letter-spacing: 2px;">{{ service }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if skeleton['user_type'] == 'non-user' %}
    <div class="row no-gutters" style="padding: 40px; text-align: center; letter-spacing: 1px; border-top: solid 1px #3c3a3a;">
        <div class="col-12" style="border-radius: 3px;">
            <div class="row no-gutters" style="font-size: 26px; letter-spacing: 2px; padding: 10px;">
                <div class="col-12">
                    <p>Become a Career Guide on Ambikor Today</p>
                </div>
            </div>
            <form action="{{ url_for('auth.user_create_account') }}" method='post' class="row no-gutters">
                <div class="col-1 col-md-2"></div>
                <div class="col-10 col-md-8" style="padding-left: 20px; padding-right: 20px;">
                    <div class="row no-gutters" style="margin-bottom: 15px;">
                        <div class="col-12">
                            {{ skeleton.registration_form.username(style="width: 100%; height: 50px; font-size: 12px; background-color: #f1f1f1; border: 1px solid #BD1376; border-radius: 5px; padding-left: 10px;", placeholder="Username") }}
                        </div>
                    </div>
                    <div class="row no-gutters" style="margin-bottom: 15px;">
                        <div class="col-12">
                            {{ skeleton.registration_form.email(style="width: 100%; height: 50px; font-size: 12px; background-color: #f1f1f1; border: 1px solid #BD1376; border-radius: 5px; padding-left: 10px;", placeholder="Email") }}
                        </div>
                    </div>
                    <div class="row no-gutters" style="margin-bottom: 20px;">
                        <div class="col-12">
                            {{ skeleton.registration_form.password(style="width: 100%; height: 50px; font-size: 12px; background-color: #f1f1f1; border: 1px solid #BD1376; border-radius: 5px; padding-left: 10px;", placeholder="Password (5 - 20 characters)") }}
                        </div>
                    </div>
                    <div class="row no-gutters" style="margin-bottom: 15px;">
                        <div class="col-12">
                            {{ skeleton.registration_form.submit(class="hoverable", style="width: 100%; height: 60px; background-color: #BD1376; text-align: center; font-size: 14px; color: white; border: none; border-radius: 3px; box-shadow: 1px 5px 6px black; letter-spacing: 2px;", value="CREATE YOUR FREE ACCOUNT") }}
                        </div>
                    </div>
                </div>
                <div class="col-1 col-md-2"></div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}