{% extends skeleton['template'] %}
{% block title %}Ambikor | Someone to turn to for guidance for any endeavour{% endblock %}
{% block content %}
<div class="row no-gutters" style="background-color: #cecece;">
    <div class="col-12 d-table" style="padding: 50px; padding-bottom: 20px;">
        <p class="d-table-cell" style="width: 100%; font-size: 32px; text-align: center; letter-spacing: 3px; line-height: 1.5;">Ambikor only succeeds when you succeed</p>
    </div>
</div>
<div class="row no-gutters" style="background-color: #cecece;">
    <div class="col-12 d-table" style="padding: 70px; padding-top: 0;">
        <p class="d-table-cell" style="width: 100%; font-size: 16px; text-align: center; letter-spacing: 1px; line-height: 2;">It’s free to get started. You pay nothing until you start earning. Ambikor receives a percentage of the payment you receive for each service you render, plus a small payment processing fee.</p>
    </div>
</div>
<div class="row no-gutters" style="padding: 40px; text-align: center; letter-spacing: 1px;">
    <div class="col-12" style="border-radius: 3px;">
        <div class="row no-gutters" style="font-size: 26px; letter-spacing: 2px; padding: 10px;">
            <div class="col-12">
                <p>Pricing</p>
            </div>
        </div>
        <div class="row no-gutters" style="font-size: 16px; letter-spacing: 2px; margin-bottom: 20px; padding: 20px; line-height: 2;">
            <div class="col-12">
                <p>You decide what services you offer and how much you want to charge for each service</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-md-6" style="padding: 10px; margin-bottom: 30px;">
                <div class="row no-gutters" style="font-size: 16px; letter-spacing: 3px; padding: 10px; text-align: left;">
                    <div class="col-1">
                        <img src="../../static/images/check_icon.png" style="width: 20px;">
                    </div>
                    <div class="col-11" style="padding-left: 10px;">
                        <p>Secure Payments</p>
                        <p style="text-align: left; font-size: 14px; margin-top: 16px; padding-left: 10px;">Ambikor keeps your earnings secure with <a href="https://stripe.com/">Stripe Connect Accounts</a></p>
                    </div>
                </div>
                <div class="row no-gutters" style="font-size: 16px; letter-spacing: 3px; padding: 10px; text-align: left;">
                    <div class="col-1">
                        <img src="../../static/images/check_icon.png" style="width: 20px;">
                    </div>
                    <div class="col-11" style="padding-left: 10px; text-align: left;">
                        <p>Easy Payments</p>
                        <p style="text-align: left; font-size: 14px; margin-top: 16px; padding-left: 10px;">Your payments are direct deposited into your bank account soon after your service is complete</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="padding: 10px; border: dotted 1px #3c3a3a;">
                <div class="row no-gutters" style="font-size: 16px; letter-spacing: 3px; padding: 10px; text-align: left;">
                    <div class="col-12">
                        <b>Ambikor's Platform Fee</b>
                    </div>
                </div>
                <div class="row no-gutters" style="margin-bottom: 20px; border-bottom: dotted 1px #3c3a3a;">
                    <div class="col-4 d-table">
                        <div class="d-table-cell" style="height: 80px; vertical-align: middle">
                            <img src="../../static/images/cat_commerce.png" style="width: 65px;">
                        </div>
                    </div>
                    <div class="col-8">
                        <p style="text-align: left; font-size: 28px; letter-spacing: 2px; margin-bottom: 10px; color: #0da08d;">23% + 40¢</p>
                        <p style="text-align: left; margin-bottom: 14px;">of the payment you recieve for each service</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-1">
                        <img src="../../static/images/prize_money_icon.png" style="width: 20px;">
                    </div>
                    <div class="col-11" style="padding-left: 10px; text-align: left;">
                        <b>You Set the Cost</b>
                        <p style="text-align: left; font-size: 14px; letter-spacing: 1px; margin-top: 16px; padding-left: 10px;">You decide how much you would like to charge for each of the services that you have to offer</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters" style="padding: 50px; text-align: center; border-top: solid 1px #3c3a3a;">
    <div class="col-12" style="font-size: 26px; letter-spacing: 2px;">
        <p>Here's what the process of earning money on Ambikor looks like:</p>
    </div>
</div>
<div class="row no-gutters" style="text-align: center;">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8" style="padding: 10px; margin-bottom: 30px; border: dotted 1px #3c3a3a;">
        <div class="row no-gutters" style="font-size: 16px; letter-spacing: 3px; padding: 10px; text-align: left;">
            <div class="col-1">
                <p style="font-size: 28px; text-align: center;">1</p>
            </div>
            <div class="col-11" style="padding-left: 10px;">
                <p>Service Setup</p>
                <p style="text-align: left; font-size: 14px; letter-spacing: 1px; margin-top: 16px; padding-left: 10px;">After creating a <a href="https://stripe.com/">Stripe Connect Account</a> in order to receive your payments, you can define and post the services you want to offer.</p>
            </div>
        </div>
        <div class="row no-gutters" style="font-size: 16px; letter-spacing: 3px; padding: 10px; text-align: left;">
            <div class="col-1">
                <p style="font-size: 28px; text-align: center;">2</p>
            </div>
            <div class="col-11" style="padding-left: 10px; text-align: left;">
                <p>Service Request</p>
                <p style="text-align: left; font-size: 14px; letter-spacing: 1px; margin-top: 16px; padding-left: 10px;">Ambikor will notify you when you recieve a service request and you can decide whether or not to accept it.</p>
            </div>
        </div>
        <div class="row no-gutters" style="font-size: 16px; letter-spacing: 3px; padding: 10px; text-align: left;">
            <div class="col-1">
                <p style="font-size: 28px; text-align: center;">3</p>
            </div>
            <div class="col-11" style="padding-left: 10px; text-align: left;">
                <p>Deadline Determination</p>
                <p style="text-align: left; font-size: 14px; letter-spacing: 1px; margin-top: 16px; padding-left: 10px;">If you decide to accept a service request, you will be prompted to select a deadline date by which you promise to complete the service.</p>
            </div>
        </div>
        <div class="row no-gutters" style="font-size: 16px; letter-spacing: 3px; padding: 10px; text-align: left;">
            <div class="col-1">
                <p style="font-size: 28px; text-align: center;">4</p>
            </div>
            <div class="col-11" style="padding-left: 10px; text-align: left;">
                <p>Service Completion and Payment Transfer</p>
                <p style="text-align: left; font-size: 14px; letter-spacing: 1px; margin-top: 16px; padding-left: 10px;">Your service will automatically be marked as complete at the due date and your payment will be transfered to you.</p>
            </div>
        </div>
    </div>
    <div class="col-1 col-md-2"></div>
</div>
{% if skeleton['user_type'] == 'non-user' %}
    <div class="row no-gutters" style="padding: 50px; text-align: center; border-top: solid 1px #3c3a3a;">
        <div class="col-12" style="font-size: 26px; letter-spacing: 2px;">
            <p>Start Earning Money on Ambikor Today</p>
        </div>
    </div>
    <form action="{{ url_for('auth.user_create_account') }}" method='post' class="row no-gutters">
        <div class="col-1 col-md-2"></div>
        <div class="col-10 col-md-8" style="padding-left: 20px; padding-right: 20px;">
            <div class="row no-gutters" style="margin-bottom: 15px;">
                <div class="col-12">
                    {{ skeleton.registration_form.username(style="width: 100%; height: 50px; font-size: 12px; background-color: #f1f1f1; border: 1px solid #BD1376; border-radius: 5px; padding-left: 10px;", placeholder="Username") }}
                </div>
            </div>
            <div class="row no-gutters" style="margin-bottom: 15px;">
                <div class="col-12">
                    {{ skeleton.registration_form.email(style="width: 100%; height: 50px; font-size: 12px; background-color: #f1f1f1; border: 1px solid #BD1376; border-radius: 5px; padding-left: 10px;", placeholder="Email") }}
                </div>
            </div>
            <div class="row no-gutters" style="margin-bottom: 20px;">
                <div class="col-12">
                    {{ skeleton.registration_form.password(style="width: 100%; height: 50px; font-size: 12px; background-color: #f1f1f1; border: 1px solid #BD1376; border-radius: 5px; padding-left: 10px;", placeholder="Password (5 - 20 characters)") }}
                </div>
            </div>
            <div class="row no-gutters" style="margin-bottom: 15px;">
                <div class="col-12">
                    {{ skeleton.registration_form.submit(class="hoverable", style="width: 100%; height: 60px; background-color: #BD1376; text-align: center; font-size: 14px; color: white; border: none; border-radius: 3px; box-shadow: 1px 5px 6px black; letter-spacing: 2px;", value="CREATE YOUR FREE ACCOUNT") }}
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2"></div>
    </form>
{% endif %}
{% endblock %}