<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ambikor</title>
        <link rel="icon" href="../../static/images/logo.png">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <style>
            /* Scroll Bar */
            ::-webkit-scrollbar-track { background-color: #f1f1f1; }
            ::-webkit-scrollbar { width: 7px; height: 0; background-color: #F5F5F5; }
            ::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }
        </style>
    </head>
    <body>
        <div id="container" style="position: absolute; height: 100%; width: 100%; background-color: #f1f1f1; overflow: scroll;">
            <div class="row no-gutters" style="height: 20%">
                <div class="col d-table" style="height: 100%;">
                    <a href="{{ url_for('home.home_page')}}" class="d-table-cell" style="width: 100%; text-align: center; vertical-align: middle;"><img src="../../static/images/logo_text.png" style="height: 20%;"></a>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col d-table" style="height: 100%; padding-left: 3%; padding-right: 2%;">
                    <div class="row no-gutters" style="height: 25px;"></div>
                    <div class="row no-gutters">
                        <div class="col d-table" style="height: 100%; padding-left: 3%; padding-right: 2%;">
                            <p class="d-table-cell" style="height: 100%; width: 100%; font-size: 20px; text-align: center; vertical-align: middle; letter-spacing: 1px;">Forbidden</p>
                        </div>
                    </div>
                    <div class="row no-gutters" style="height: 50px;"></div>
                    <div class="row no-gutters">
                        <div class="col" style="text-align: center;"><img src="../../static/images/logo.png" style="height: 60px;"></div>
                    </div>
                    <div class="row no-gutters" style="height: 50px;"></div>
                    <div class="row no-gutters">
                        <div class="col d-table" style="height: 100%; padding-left: 3%; padding-right: 2%;">
                            <p class="d-table-cell" style="height: 100%; width: 100%; font-size: 17px; text-align: center; letter-spacing: 2px;">It looks like you don't have access to the page you were looking for.</p>
                        </div>
                    </div>
                    <div class="row no-gutters" style="height: 50px;"></div>
                    <div class="row no-gutters">
                        <div class="col d-table" style="height: 100%; padding-left: 3%; padding-right: 2%;">
                            <a href="{{ url_for('home.home_page')}}" class="d-table-cell" style="height: 100%; width: 100%; font-size: 17px; color: #BD1376; text-align: center; vertical-align: middle; letter-spacing: 2px;">Click me to go back to the home page.</a>
                        </div>
                    </div>
                    <div class="row no-gutters" style="height: 50px;"></div>
                </div>
            </div>
        </div>
    </body>
</html>