<div class="row no-gutters accept-service-form" style="width: 100%; padding: 10px;">
    <div class="col-12 col-md service-request-form service-request-response-form" style="padding: 2%;">
        <div class="row no-gutters" style="width: 100%; padding-top: 10px; padding-bottom: 10px; margin-bottom: 30px;">
            <div class="col">
                <div class="d-table" style="width: 100%; height: 100%; font-size: 18px; font-family: 'Raleway', sans-serif; letter-spacing: 2px; padding-left: 3%;">
                    <p class="d-table-cell" style="vertical-align: middle; color: white; text-align: center;">Would you like to accept this service request?</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters" style="width: 100%;">
            <div class="col">
                <img src='/static/images/circle_x.png' class="hoverable reject-service-request" style="position: absolute; top: 3px; width: 100%;">
            </div>
            <div class="col-3"></div>
            <div class="col">
                <img src='/static/images/circle_check.png' class="hoverable open-service-deadline-form" style="position: absolute; top: 3px; width: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters rejection-successful" style="height: 100%; display: none;">
    <div class="col-12" style="padding: 20px;">
        <div class="row" style="position: absolute; width: 100%;">
            <div class="col-2"></div>
            <div class="col-8" style="background-color: #014a40; height: 100%; width: 100%; border: 1px solid #cdcdcd; border-radius: 5px; text-align: center; padding: 10px; box-shadow: 5px 5px 15px black;">
                <div style="width: 100%; text-align: right;"><img src="../../static/images/close_icon.png" class="hoverable service-request-chat-button" style="width: 20px;"></div>
                <img src="../../static/images/grey_check_icon.png" style="width: 70px;">
                <div class="d-table thick text" style="width: 100%; font-size: 20px; letter-spacing: 1px; padding: 30px;">
                    <p class="d-table-cell" style="vertical-align: middle; color: white;">You've successfully rejected this service.</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>