<div class="row no-gutters review-service-request-form" style="width: 100%; padding: 10px;">
    <div class="col-12 col-md service-request-form" style="padding: 2%;">
        <div class="row no-gutters">
            <div class="col">
                <div class="d-table" style="width: 100%; height: 100%; text-align: center; font-size: 18px; background-color: #03695D; letter-spacing: 1px; padding: 20px;">
                    <p class="d-table-cell" style="vertical-align: middle; color: white;">Review</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters" style="background-color: #212222;">
            <div class="col review-col">
                <img src='/static/images/star_icon.png' class="clear-star hoverable" style="padding: 10px; width: 100%;">
                <img src='/static/images/star_pink_icon.png' class="pink-star hoverable" id="1" style="display: none; padding: 10px; width: 100%;">
            </div>
            <div class="col review-col">
                <img src='/static/images/star_icon.png' class="clear-star hoverable" style="padding: 10px; width: 100%;">
                <img src='/static/images/star_pink_icon.png' class="pink-star hoverable" id="2" style="display: none; padding: 10px; width: 100%;">
            </div>
            <div class="col review-col">
                <img src='/static/images/star_icon.png' class="clear-star hoverable" style="padding: 10px; width: 100%;">
                <img src='/static/images/star_pink_icon.png' class="pink-star hoverable" id="3" style="display: none; padding: 10px; width: 100%;">
            </div>
            <div class="col review-col">
                <img src='/static/images/star_icon.png' class="clear-star hoverable" style="padding: 10px; width: 100%;">
                <img src='/static/images/star_pink_icon.png' class="pink-star hoverable" id="4" style="display: none; padding: 10px; width: 100%;">
            </div>
            <div class="col review-col">
                <img src='/static/images/star_icon.png' class="clear-star hoverable" style="padding: 10px; width: 100%;">
                <img src='/static/images/star_pink_icon.png' class="pink-star hoverable" id="5" style="display: none; padding: 10px; width: 100%;">
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <textarea class='d-table-cell' id="review-message" type="text" style="width: 100%; height: 200px; padding: 3%; font-size: 16px; color: #00A08E; background-color: white; outline: none; border: none;" placeholder="Let others know how your experience with this service was."></textarea>
            </div>
        </div>
        <div class="row no-gutters" style="background-color: #03695D;">
            <div class="col-12 col-md-9"></div>
            <div class="col hoverable submit-review" style="background-color: #00A08E; padding: 20px;">
                <div class="d-table" style="width: 100%; height: 100%; font-size: 16px; text-align: center; letter-spacing: 2px;">
                    <p class="d-table-cell" style="color: white; vertical-align: middle;">SUBMIT</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters review-successful" style="height: 100%; display: none;">
    <div class="col-12" style="padding: 20px;">
        <div class="row" style="position: absolute; width: 100%;">
            <div class="col-2"></div>
            <div class="col-8" style="background-color: #014a40; height: 100%; width: 100%; border: 5px solid #cdcdcd; border-radius: 5px; text-align: center; padding: 10px; box-shadow: 5px 5px 15px black;">
                <div style="width: 100%; text-align: right;"><img src="../../static/images/close_icon.png" class="hoverable service-request-chat-button" style="width: 20px;"></div>
                <img src="../../static/images/grey_check_icon.png" style="width: 70px;">
                <div class="d-table thick text" style="width: 100%; font-size: 20px; letter-spacing: 1px; padding: 30px;">
                    <p class="d-table-cell" style="vertical-align: middle; color: white;">You've successfully reviewed this service!</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>